
<!DOCTYPE html>




<html>
    
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link  href="babu.css" rel="stylesheet"  type="text/css">
</head>
<body id="bod" >
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dirisala's</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li ><a href="/About">About</a></li>
        <li ><a href="/Calculator">Calculator</a></li>
        <li ><a href="/Contact">Contact</a></li>
        <li class="active"><a href="/guestbook">GuestBook</a></li>
        
        
        
        
        <li><a href="https://github.com/DirisalaBapuji"><img src="images/github.png" alt="github" width="35" height="35"></a></li>
        <li><a href="https://bitbucket.org/DirisalaBapuji/"><img src="images/bitbucket.png" alt="bitbucket" width="35" height="35"></a></li>
        <li><a href="https://www.facebook.com/dirisala.bapuji"><img src="images/facebook.png" alt="facebook" width="35" height="35"></a></li>
        <li><a href="https://www.linkedin.com/bapuji-dirisala"><img src="images/linkedin.png" alt="linkedin" height="35" width="35"></a></li>
     </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        <div class="container back">
<h1>
<span id="bd">Express Guestbook</span>
<a id = "cd" href="/new-entry" class="btn btn-warning pull-right">
Write in the guestbook
</a>
</h1>
</div>
<footer>

          <div class="bottom">copyrights@2016 Dirisala Bapuji graduate student NWMSU</div>
        </footer>

      
<!-- jQuery File -->
<script src="cal.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>







