body{
    background-color: blue;
    background: url("kabali.jpg") right fixed;
    background-size:cover
}
.btn btn-primary pull-right{
    background-color: green;
}
#dd{
    width: 70%;
    margin: 0 auto;
    color:#ffffff;
}
#cd{
    font-family: arial;
    font-size: 0.4em;
    margin-right: 15%;
}
#bd{
    font-size: 0.7em;
    margin-left: 15%;
}
@font-face{
    font-family: asp;
    src:url("Sentinel.ttf");
}

h1{
    font-family: asp;
    color:#ffffff;
}